.form {
  align-self: center;
  margin: 20px auto 0 200px;
}

body {
  align-items: center;
}

button {
  background-color: green;
  margin-top: 10px;
}

button:hover {
  margin-bottom: 20px;
  background-color: hotpink;
  margin-top: -10px;
}
